.footer {
    height: 18rem;
    width: 100%;
    background-size: cover;
    background-position: right;
    background-position: bottom;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.footer_container {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.footer_sitemap {
    align-items: start;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footer_contact {
    align-items: start;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.footer_logo {
    height: 80%;
}

.footer_sitemap nav ul {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.footer_sitemap nav ul li a {
    text-decoration: none;
    color: black;
}
.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}
.footer_socials a  {
    display: flex;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: .5rem;
    color: white;
    background-color: var(--secondary-red);
}
@media screen and (max-width: 1200px) {
    
    .footer {
        max-width: 100%;
        height: auto;
        margin: 0;
        background-position: right;
    }
    .footer_logo {
        display: none;
    }
    .footer_container {
        margin: 3rem;
        max-height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (max-width: 768px) {
    .footer {
        height: auto;
        margin: 0;
    }
    .footer_sitemap {
        text-align: center;
    }
    .footer_contact {
        text-align: center;
    }
    .footer_sitemap nav ul {
        flex-direction: row;
    }
    .footer_sitemap nav ul li {
        margin: 0 1rem;
    }
    .footer_socials {
        flex-direction: row;
    }
    
}